/* Root variables */
:root {
  --primary-color: #0077cc;
  --secondary-color: #ffaa00;
  --background-color: #f1f1f1;
  --text-color: #333;
  --white: #eae5e58c;
  --heading-font: 'Roboto', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

/* General Styles */
body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

a {
  text-decoration: none;
  /* Remove underline */
}

header, main, footer {
  max-width: 1200px;
  margin: 0 auto;
}
/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  background-color: var(--white);
  text-align: center;
}

/* Article Section */
article {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
}

.hero article img {
  float: right;
  width: 200px;
  height: auto;
}


/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 10px 0;
}

.sociallinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Space between icons */
  margin-top: 10px;
}

.sociallinks img {
  width: 40px;
  /* Set icon size */
  height: auto;

}

.sociallinks a:hover img {
  filter: brightness(1.2);
  /* Brighten icon on hover */
}